<div class="container mt-5">
  <div class="row md-mb-2">
    <div>
      <h2 class="text-white">Projects</h2>
    </div>
  </div>
  <% if can? :create, Project %>
    <div>
      <button type="button" class="btn btn-success btn-add-project" data-action='create' data-toggle="modal" data-target="#exampleModal"><strong>Add New Project</strong>  </button>
    </div>
  <% end %>
  <div class="row project-dashboard mt-4">
    <% @projects.each do |project| %>
      <div class="card col-md-5  mt-1 card-override project-card-<%= project.id %>">
        <div class="card-body card-body-override  ">
          <h5 class="card-title"><%= project.name %></h5>
          <p class="text-muted"><%= truncate project.description, length: 50 %></p>
          <div class="mt-md-3 mb-md-2">
            <div class="row">
              <% if can? :create, Task %>
                <div class="col-md-3 col-6 mb-2 text-center">
                  <button class="btn btn-success new-task-addition" data-project-id="<%= project.id %>" title="Add New Task" style="width: 100%">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              <% end %>
              <% if can? :show, project %>
                <div class="col-md-3 col-6 mb-2 text-center">
                  <button class="btn btn-warning view-project-description" data-project-id="<%= project.id %>"  title="View Project" style="width: 100%">
                    <i class="fa fa-eye"></i>
                  </button>
                </div>
              <% end %>
              <% if can? :edit, project %>
                <div class="col-md-3 col-6 mb-2 text-center">
                  <button class="btn btn-secondary edit-project" data-action='edit' data-project-id="<%= project.id %>" title="Delete Project" style="width: 100%">
                    <i class="fa fa-pencil"></i>
                  </button>
                </div>
              <% end %>
              <% if can? :destroy, project %>
                <div class="col-md-3 col-6 mb-2 text-center">
                  <button class="btn btn-danger destroy-task" data-project-id="<%= project.id %>" title="Delete Project" style="width: 100%">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "layouts/modal" %>
</div>